* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #323c41;
}

.profile-heading {
    font-weight: 400;
    color: white;
    margin-top: 50px;
    margin-left: 25px;
}

.profile-subheading {
    font-weight: 100;
    color: white;
    margin: 0 25px;
}

.profile-message {
    font-weight: 100;
    color: white;
    margin: 25px 25px;
}